*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
@font-face {
    font-family: 'Neue Machina';
    src: url('/assets/fonts/NeueMachina-Regular.otf');
}
.container{
    background-color: black;
}
.main{
    padding: 1rem;
}
