*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
@font-face {
    font-family: "Neue Machina";
    src: url('/assets/fonts/neue-machina-regular.otf');
}
body{
    background-color: black;
    color: white;
}
.main{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 48px;
    z-index: 1;
}
.main::before{
    content: '';
    background-image: url('/assets/img/blurtop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 90vw;
    height: 100vw;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}
.main::after{
    position: fixed;
    content: '';
    background-image: url('/assets/img/blurfoot.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 88vw;
    height: 76vw;
    z-index: -1;
    top: auto;
    right: auto;
    bottom: -40px;
    right: 0;
}
/* Criando as seções do currículo de skills, idiomas, informações profissionais, educação e experiência profissional.
tornando-as clicáveis e com efeito de troca de background e cor de texto para interação com o usuário. */
.bodyThing{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid;
    border-radius: 1rem;
    transition: 0.25s;
}
.bodyThing.open,
.bodyThing:hover{
    background-color: #55569e;
    border-color:#55569e;
    color: white;
}
.things{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    border: none;
    /*muda o cursor para indicar que é clicável */
    cursor: pointer; 
}
.things::after{
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/arrow.svg');
}
.bodyThing.open .things::after{
    transform: rotate(180deg);
}
.bodyList{
    display: none;
}
.bodyThing.open .bodyList{
    display: inline-block;
}