
.header{
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .backgroundMode{
    position: absolute;
    width: 4134.04px;
    height: 2087.2px;
    top: 1080px;
    left: -75px;
    border-radius: 593px;
    transform: rotate(-27.33deg);
    filter: blur(300px);
    background: url(./img/fundo-blur.png);
} */
.professionalPhoto{
    border-radius: 50%;
    margin: 10px;
    width: 200px;
    height: 200px;
}
.hello{
    text-align: center;
    font-family: "Neue Machina", sans-serif;
}
.previewInformation{
    color:brown
}
.personalInfo{
    color: blue;
}
.skills {
    color:darkorange;
}
.idiomas {
    color: blueviolet;
}
.education {
    color: green;
}
.portifolio {
    color: darkslategray;
}
.professionalExperience {
    color: aqua;
}


/* Desktop - 4 

position: relative;
width: 2560px;
height: 2500px;

background: #FFFFFF;
mix-blend-mode: normal;
*/
