
.header{
    color: white;
}
.professionalPhoto{
    border-radius: 50%;
    margin: 10px;
    width: 200px;
    height: 200px;
}
.hello{
    text-align: center;
    font-family: "Neue Machina", sans-serif;
}
.previewInformation{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.previewInformation p {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.previewInformation p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    font-size: 1.2rem;
}
.previewInformation .job::before {
    background-image: url('/assets/img/icons/job.svg');
}
.previewInformation .phone::before {
    background-image: url('/assets/img/icons/phone.svg');
}
.previewInformation .email::before {
    background-image: url('/assets/img/icons/email.svg');
}
.previewInformation .location::before {
    background-image: url('/assets/img/icons/location.svg');
}
/* .personalInfo{
    color: blue;
}
.skills {
    color:darkorange;
}
.idiomas {
    color: blueviolet;
}
.education {
    color: green;
}
.portifolio {
    color: darkslategray;
}
.professionalExperience {
    color: aqua;
} */
